<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listar Factura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <ion-grid class="px-4">
      <ion-row>
        <ion-col size="auto" [routerLink]="['Registrar']"
          ><ion-button>Registrar</ion-button></ion-col
        >
        <ion-col size="auto" [routerLink]="['Listar']"
          ><ion-button color="secondary">Listar</ion-button></ion-col
        >
      </ion-row>
    </ion-grid>

    <ion-list>
      <ion-item *ngFor="let f of listaFactura">
        <ion-label class="label">
          <span>{{f.id}}</span>

          <small> Total : </small> {{f.total | number }}
          <small> Hora : </small> {{f.hora}}
          <ion-button size="small" color="dark">Ver Detalle</ion-button>
        </ion-label>
      </ion-item>
      
    </ion-list>

    <ion-infinite-scroll >
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
